<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table td {
            border: 1px solid black;
        }
        table th {
            border: 1px solid black;
        }
    </style>
</head>

<body>

<h1>{{title}}</h1>

<h3>添加学生:</h3>

{% if message %}
    <p>{{message|safe}}</p>
{% endif %}

<form method="POST" action="add_student.html" enctype="application/x-www-form-urlencoded">
    学生姓名name：<br>
    <input type="text" name="name"><br>
    学生学号number： <br>
    <input type="text" name="number"><br>
    学生年龄 age： <br>
    <input type="text" name="age"><br>
    学生性别 gender：<br>

    <input type="radio" name="gender" value="男" checked>男
    <br>
    <input type="radio" name="gender" value="女">女

    学生班级grade： <br>
    <input type="text" name="grade">
    <br>
    <br>
    地址 address： <br>
    <textarea name="address"></textarea>
    <br>
    <br>
    <br>
    <input type="submit" value="成功登记">
    <br>
    <br>
</form>


</body>

</html>